<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="demo.luojun.com.demo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.onevo.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />

    <application
        android:name=".context.MyAppliction"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.networkactivity.NetworkActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.networkactivity.OkhttpActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.viewactivity.WidgetActivity" />
        <activity android:name=".activity.viewactivity.MotionEventActivity" />
        <activity
            android:name=".activity.viewactivity.SimpleLayoutActivity"
            android:label="@string/title_activity_simple_layout"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.viewactivity.TitleActivity"
            android:label="@string/title_activity_simple_layout"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.viewactivity.MyListviewActivity" />
        <activity android:name=".activity.viewactivity.CustomTitleViewActivity" />
        <activity android:name=".activity.viewactivity.CustomViewActivity" />
        <activity android:name=".activity.viewactivity.CircleTextViewActivity" />
        <activity android:name=".activity.fragmentactivity.GuideActivity" />
        <activity android:name=".activity.fragmentactivity.FragmentActivity" />
        <activity android:name=".activity.fragmentactivity.ViewPagerActivity" />
        <activity android:name=".activity.networkactivity.OkHttpUtilsActivity" />
        <activity android:name=".activity.java.BuildActivity" />
        <activity android:name=".activity.testactivity.TestActivity" />
        <activity android:name=".activity.android.HandlerActivity" />
        <activity android:name=".activity.java.FileIoActivity" />
        <activity android:name=".activity.networkactivity.SocketActivity" />
        <activity android:name=".activity.rxactivity.ObservableActivity" />
        <activity android:name=".activity.java.classActivity" />
        <activity android:name=".activity.java.JavaActivity" />
        <activity android:name=".activity.java.ProxyActivity" />
        <activity android:name=".activity.android.AndroidActivity" />
        <activity android:name=".activity.java.AnnotationActivity" />
        <activity android:name=".activity.java.JavapoetActivity" />
        <activity android:name=".activity.networkactivity.retrofitActivity" />
        <activity android:name=".activity.java.GenericsActivity" />
        <activity android:name=".activity.networkactivity.RxRetrofitActivity"></activity>
    </application>

</manifest>